nav>a{
    color: white !important;
}
.nav-item>a{
    color: white !important;
}

#posts{
    margin-top: 50px;
    padding: 30px;
}
.post-badge{
  float: right !important;
  margin-top:25px;
  padding: 7px !important;
  background: #761CEA !important;
}
.main-categories{
  margin-top: 45px;

}
.main-categories>a,.main-categories>li{
    background-color: #761CEA !important;
    padding: 25px !important;
    color: white !important;
}
.main-ads>a>img{
  height: 100% !important;
  width:100% !important;
}
.authors{
  margin-top: 35px;
  background-color: #761CEA;
  padding: 15px;
  color: white;
}
.authors>ul,.authors>ul>li{
  text-decoration: none !important;
  list-style: none;
  font-size: 25px;
  margin-left: -18px;
}
.main-right-frame{
  margin-top: 25px
}
.badge>a{
  color:white !important;
  text-decoration: none !important;
}
.post-card{
    margin-top: 25px;
    border: 1px black solid;
    border-radius: 15px;
    padding: 15px;
}
.post-btn{
    margin-top: 15px;
    background: #761CEA !important;
    outline: #761CEA !important;
    border: #761CEA !important;
}
.btn>a{
    color: white !important;
    text-decoration: none !important;
}
.post-image>img{
    height: 100% !important;
    width: 100% !important;
}
#pagination{
  align-items: center !important;
}
@media all and (max-width:600px){
    #posts{
        align-items: center;
        text-align: center;
    }
    .main-post-column{
      order:2;
    }
}
